# node modules
/node_modules
yarn-debug.log*
yarn-error.log*

# dotfiles
.env*

# build
/.next
/tsconfig.tsbuildinfo
**/public/files/**
**/public/workbox-*.js
**/public/sw.js
**/public/sw.js.map
**/public/worker-*.js
**/public/workbox-*.js.map

# misc
*.zip
*.tar.gz
/logs
/*.mongodb.js
/*.mongodb
/TODO
/stuff.json
/stuff.js
/.backup
/.vercel
